.App{
    width: 100vw;
    height: 100vh;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .sidebar{
    height: 100vh;
    width: 15%;
    float: left;
  }
  .sidebarList{
    height: auto;
    width: 100%;
    padding: 0;
  } 
  .row{
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .row #icon{
      flex: 30%;
      display: grid;
      place-items: center;
  }
  .sidebarList .row:hover{
      cursor: pointer;
      background-color: rgb(41, 36, 36);
      color: rgb(230, 174, 54);
  }
  .sidebarList .row:active{
    background-color: rgb(41, 36, 36);
}
  .row #tittle{
    flex: 70%;
}
.navbar{
  width: 85%;
  background: rgb(22, 5, 5);
}
.top-header{
  width: 85%;
  background: rgb(255, 255, 255);
}
.Prev-form{
  width: 85%;
  background: rgb(216, 197, 161);
  float: right;
  height: 210px;
}
.image{
  width: 200px;
  height: 130px;
  background: rgb(230, 197, 197);
}
.form{
  width: 85%;
  background: rgb(199, 136, 11);
  float: right;
  background-color: rgb(255, 251, 247);
}
label{
  color: black;
}
.btn-div{
  float: right;
}
.nav-link{
  color: rgb(255, 255, 255);
}
.nav-link:hover{
  background-color: rgb(236, 204, 20);
  color: black;
}
.form-width{
  width: 85%;
  float: right;
}
.btn-cancel{
  float: right;
}